.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #064663 !important;

  .username {
    margin-left: 1em;
  }

  .threeDots {
    justify-content: flex-end;
    color: #ECB365;
    font-size: 20px;
  }

  .image {
    height: 50px;
    width: 50px;
    border: none;
    background: inherit;
  }
}

