.bitcoin {
  color: orange;
  font-size: 30px;
  margin: 3px;
}

.icon {
  color: #ECB365;
  font-size: 30px;
}

.topIcon {
  color: #ECB365;
  font-size: 20px;
  cursor: pointer;
}

.iconCluster {
  display: flex;
  align-items: center;
}

.tooltip:hover {
  display: none;
  position: absolute;
}

.topIcon:hover~.tooltip {
  display: block;
  text-color: white;
}
